html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

/* BRAND */
.navbar-brand {
    padding: 0;
}
.navbar-brand img {
    width: 64px;
    height: 64px;
}
.navbar-brand span {
    line-height: 64px;
    margin-left: 5px;
}

/* FOOTER */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.footer > .container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.footer > .container .nav .active {
    background-color: #e7e7e7;
}